.quran{
    width: 80%;
    margin:50px auto;
    direction: rtl;
}
.hh{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-family: "Tajawal", system-ui;
    font-weight: bold;
    font-style: normal;
    color: green;
}
.sour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sora{
    width: 19%;
    margin:10px auto ;
    border: 2px solid green;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.sora:hover{
    border: 2px solid yellowgreen;
}
.quran-link{
    text-decoration: none;
    color: black;
}
.quran-link:hover{
    color: yellowgreen;
}
@media screen and (max-width:480px){
    .sour{
        flex-direction: column;
    }
    .sora{
        width: 100%;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .sora{
        width: 45%;
    }
}