.ahadess{
    width: 80%;
    margin: 50px auto ;
    height: 70vh;
    /* direction: rtl; */
}
.ahadess h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "Tajawal", system-ui;
    font-weight: bold;
    font-style: normal;
}
.ahades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
.hades > *{
    margin-bottom: 5px;
}
.hades{
    width: 22%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid green;
    transition: 0.5s;
}
.hades:hover{
    transform: scale(1.06);
}
.hades img{
    width: 90%;
    
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: green;
}
@media screen and (max-width:480px){
    .ahades{
        flex-direction: column;
    }
    .hades{
        width: 100%;
    }
    .ahadess{
        height: 140vh;
    }
    .ahadess h1{
        font-size: 30px;
    }
    .app-dark .ahades{
        /* background-color: #000; */
        width: 80%;
        margin: 0 auto;
    }
    .app-dark .ahadess{
        height: 135vh;
    }
    .app-dark .ahadess h1{
        color: #fff;
    }
    .app-dark .link{
        color: #fff;
    }
    .app-dark .hadess{
        /* background-color: #000; */
        color: #fff;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .ahades{
        flex-direction: column;
    }
    .hades{
        width: 100%;
    }
    .ahadess{
        height: 130vh;
    }
    .ahadess h1{
        font-size: 30px;
    }
    .app-dark .ahades{
        /* background-color: #000; */
        width: 80%;
        margin: 0 auto;
    }
    .app-dark .ahadess{
        height: 135vh;
    }
    .app-dark .ahadess h1{
        color: #fff;
    }
    .app-dark .link{
        color: #fff;
    }
    .app-dark .hadess{
        /* background-color: #000; */
        color: #fff;
    }
}